.gr-card {
	&.card {
		padding-top: 10px;
    border-radius: 0;
    box-shadow: 0 2px 20px $SHADOW_DEFAULT;
	}
  &--link {
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}