@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

// Constant colors
$WHITE: #FFFFFF;

// Mid-dark gray, for text and UI elements
$GRAY_1: #43485B;

$GRAY_2: #9898A0;

// SUPERLIGHT gray, for backgrounds
$GRAY_3: #EEEEEE;

$GRAY_4: #CCCCCC;

$RED_1: #F47C7C;
$YELLOW_1: #F7F48B;
$GREEN_1: #A1DE93;
$BLUE_1: #70A1D7;

$ORANGE_1: #EE7738;

$PURPLE_1: #717fdd;

$ORANGE_1: #FF9867;

$FONT_FAMILY: 'Source Sans Pro', sans-serif;
