@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Varela+Round');

// Constant colors
$WHITE: #FDFDFD;

// Mid-dark gray, for text and UI elements
$GRAY_1: #43485B;

$GRAY_2: #9898A0;

// SUPERLIGHT gray, for backgrounds
$GRAY_3: #EEEEEE;

$GRAY_4: #CCCCCC;

$RED_1: #F47C7C;
$YELLOW_1: #F7F48B;
$GREEN_1: #A1DE93;
$BLUE_1: #70A1D7;

$ORANGE_1: #EE7738;

$PURPLE_1: #717fdd;

$ORANGE_1: #FF9867;

$FONT_FAMILY: 'Source Sans Pro', sans-serif;
$TEXT_FONT: 'Varela Round', sans-serif;

$SHADOW_DEFAULT: rgba(0, 0, 0, .35);

// New colors
$DARK_BLUE: #46677D;
$DARKER_BLUE: #121B21;
$BACKGROUND_GRADIENT: linear-gradient($DARK_BLUE, $DARKER_BLUE);
$BACKGROUND_COLOR: $DARK_BLUE;
$PINK_1: #EB3986;
$BLUE_2: #39A4EB;
$PURPLE_2: #8E70D7;
$GREEN_1: #70D7AB;